header {
  padding: 0 24px;
  margin-bottom: 80px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.hero-container h1 {
  text-align: center;
  /* width: 19ch; */
  margin-bottom: 24px;
}

header p {
  text-align: center;
  font-size: 15px;
  color: var(--light-blue);
  margin-top: 24px;
}

header p a {
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

header figure {
  padding: 0;
  margin: 0 auto 24px;
  width: 51.8%;
  display: grid;
  place-items: center;
  border-radius: 10%;
   /* box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727); */
}

@media (min-width: 48em) {
  header figure {
    width: 26%;
    margin-bottom: 48px;
  }
}

@media (min-width: 90em) {
  header{
    margin-top: 74px;
  }
  .header__container {
    max-width: 1111px;
    margin-inline: auto;
    flex-direction: row-reverse;
    gap: 20%;
    /* justify-content: ; */
  }

  header figure {
    max-width: 263px;
    /* height: 500px; */
  }

  .header__main-container{
    max-width: 546px;
  }
  .hero-container h1 {
    
    text-align: start;
  }

  .header__main-container p {
    text-align: start;
    margin-left: 3%;
  }
}
